@media screen and (max-width:1160px) {
    
    .container{
        max-width: 100%;
    }
}


@media screen and (max-width:768px) {

    .container{
        max-width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .lessons .col img {
        height: 100px;
    }

    .steps .col img {
        height: 100px;
    }
}

@media screen and (max-width:480px) {

    .container{
        max-width: 80%;
    }

    .row{
        flex-direction: column;
    }

    .lessons .col{
        width: 100%;
        margin-bottom: 2rem;
    }

    .steps .col{
        width: 100%;
        margin-bottom: 2rem;
    }

    .why-us{
        background-color: black;
        margin: -50px 0;
        padding-top: 30px;
    }

    .why-us .col-left, .why-us .col-right{
        width: 100%;
    }
}