@media screen and (max-width:1160px) {
    
    .container{
        max-width: 1140px;
        width: 100%;
        /*in questo modo si prenderà 
        sempre il 100% fino ad un massimo di 1140px*/
    }
}

/* con la soluzione di sopra questa @media è superflua */
/* @media screen and (max-width:768px) {

    .container{
        max-width: 100%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .lessons .col img {
        height: 200px;
    }

    .steps .col img {
        height: 200px;
    }

    .lessons .col{
        width: 100%;
        margin-bottom: 2rem;
    }

    .steps .col{
        width: 100%;
        margin-bottom: 2rem;
    }
} */

@media screen and (max-width:480px) {

    .container{
        max-width: 80%;
    }

    .row{
        flex-direction: column;
        /* oppure si poteva dare il wrap */
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .lessons .col img, .steps .col img {
        height: 200px;
    }

    .steps .col, .lessons .col{
        width: 100%;
        margin-bottom: 2rem;
        /* per lo spazio bastava un row-gap */
    }

    .steps{
        margin-bottom: 0;
    }

    .why-us{
        background-color: black;
        /* margin: -50px 0;
        padding-top: 30px; 
        meglio evitare margin negativo e cose che si sovrappongono se non serve*/
        margin-bottom: 0;
        padding: 3rem 0;
    }

    .why-us .col-left{
        padding-bottom: 40px;
    }
    .why-us .col-left, .why-us .col-right{
        width: 100%;
    }
}