@media screen and (max-width:768px) {

    .container{
        max-width: 680px;
        overflow: auto;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1rem;
    }

    .lessons .col img {
        height: 100px;
    }
}